h1{
  color: green;
}

body{
  background-color: pink;
}

img{
  width: 400px;
  height: 300px;
}
p {
  font-family: verdana;
  font-size: 20px;
}
h1 {
  color: white;
  text-align: center;
}

h1{
  font-family: verdana;
  font-size: 40px
}

h2{
  font-family: verdana;
  font-size: 30px

}

h2{
text-align: center;


}
